@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Optional CSS (in a .css file or Tailwind class override) */
.slick-prev,
.slick-next {
  z-index: 50;
  width: 40px;
  height: 40px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px;
  opacity: 1;
  line-height: 1;
}
